@model ML.Producto

@{
    ViewBag.Title = "VentaProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Venta de Productos Disponibles</h2>


<div class="container">
    <h3 class="text-black"> Venta Producto  </h3>
    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un producto para agregarlo al carrito</h5>
            <hr />
        </div>
    </div>
</div>

@using (Html.BeginForm("GetAll", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-3">
                @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un departamento", new { @class = "form-control" })
            </div>

            <div class="col-3">
                @Html.TextBoxFor(model => model.ProductoNombre, new { @class = "form-control", @placeholder = "ProductoNombre" })
            </div>

            <div class="col-md-3">
                <input type="submit" value="Buscar" class="btn btn-success" />
            </div>

        </div>

        @*<div class="col">

                @Html.ActionLink("Ver Carrito", "Producto", "VentaProducto", htmlAttributes: new { @class = "btn btn-success" })

            </div>*@

    </div>
}


@foreach (ML.Producto producto in Model.Productos)
{
    <div class="row">


        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <div class="row space-16">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption text-center" onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
                                <div class="position-relative">
                                    <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                                </div>

                                @*Titulo*@<h4 id="thumbnail-label"><a href="@producto.ProductoNombre" target="_blank">@producto.ProductoNombre</a></h4>

                                @*Datos*@<div class="thumbnail-description smaller">@producto.Descipcion</div>
                                @*Datos*@<div class="thumbnail-description smaller">@producto.PrecioUnitario</div>
                            </div>
                            <div class="caption card-footer text-center">
                                @*Boton*@
                                <ul class="list-inline">
                                    <li><i class="people lighter"></i>@producto.Departamento.IdDepartamento</li>
                                    <li></li>
                                    @*<li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Agregar</a></li>*@
                                    <li><i class="glyphicon glyphicon-shopping-cart"></i><a href="#">&nbsp;Agregar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
    </div>




 }




    <style>
        .thumbnail {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            transition: 0.3s;
            min-width: 40%;
            border-radius: 5px;
        }

        .thumbnail-description {
            min-height: 40px;
        }

        .thumbnail:hover {
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
        }
    </style>










